.button {
    border: var(--secondary-border);
    box-shadow: var(--button-shadow);
    background: #fff;
    padding: var(--sp-md) var(--sp-xl);
    border-radius: var(--sp-sm);
    color: var(--primary);
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.primary {
        background-color: var(--primary);
        color: #fff;
        border-color: var(--primary);

        &:hover {
            background-color: var(--primary-light);
            border-color: var(--primary-light);
        }
    }

    &.secondary {
        background-color: #fff;
        color: var(--primary);
        border: var(--secondary-border);
        &:hover {
            background-color: var(--bg-color);
        }
    }

    &.block {
        width: 100%;
    }
}