.sidebar_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: var(--sp-sm);
    .logo{
        height: calc(var(--sp-lg)*2);
    }
    .notification_icon{
        border: var(--secondary-border);
            border-radius: 50%;
            width: var(--sp-xl);
            height: var(--sp-xl);
            display: flex;
            align-items: center;
            padding: var(--sp-lg);
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s, border 0.3s;
            &:hover{
                background-color: var(--secondary-bg-color);
                border: var(--primary-border);
            }
    }

    &.collapsed{
            justify-content: center;
        .logo{
            width: 100%;
        }
    }
}